[submodule "FreeRTOS/FreeRTOS-Kernel"]
	path = lib/FreeRTOS/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "FreeRTOS/FreeRTOS-Plus-TCP"]
	path = lib/FreeRTOS/FreeRTOS-Plus-TCP
	url = https://github.com/FreeRTOS/FreeRTOS-Plus-TCP.git
[submodule "FreeRTOS/coreMQTT"]
	path = lib/FreeRTOS/coreMQTT
	url = https://github.com/FreeRTOS/coreMQTT.git
[submodule "FreeRTOS/corePKCS11"]
	path = lib/FreeRTOS/corePKCS11
	url = https://github.com/FreeRTOS/corePKCS11.git
[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "mbedtls"]
	branch = mbedtls-2.16
[submodule "lib/pkcs11"]
	path = lib/pkcs11
	url = https://github.com/amazon-freertos/pkcs11.git
